/* For Link active  */
.active {
  border-bottom: 2px solid #ff7836 !important;
  color: #ff7836 !important;
}
/* Fonts  */
body {
  font-family: "Poppins", sans-serif;
}
.system-ui-font {
  font-family: "system-ui", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
}
