/* For Link active  */
.active {
  border-bottom: 2px solid #ff7836 !important;
  color: #ff7836 !important;
}
/* Fonts  */
body {
  font-family: "Poppins", sans-serif;
}
.system-ui-font {
  font-family: "system-ui", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
}

/* slider  */
.slick-slide {
  margin-left: 0px;
}
.slick-dots {
  margin-bottom: 0%;
}

.slider-container .slide-item {
  margin: 0 10px; /* Adds 10px gap on both left and right sides */
}

.slider-container .slick-slide {
  padding: 0 10px; /* Adds padding to ensure the slide item margins are not cut off */
}
.slick-dots {
  margin-bottom: -2%;
}

html {
  scroll-behavior: smooth;
}
